<h1>Home</h1>

<label>Get Another Gif!</label>
<input type='text' name='search-query' value='' ng-model='home.query'>
<button type='submit' ng-click='home.searchItem(home.query)'>Search</button>
<button name='random' ng-click='home.randomSearch()'>I want a random Gif!</button>

<div ng-repeat="gif in home.gifs">
  <img ng-src="{{gif.images.original.url}}"/>
  <p><a ng-href="{{gif.images.original.url}}">Get Gif</a></p>
  <input type='text' name='comment' value=''>
</div>

    <!-- picture result for random -->
<div class="results">
  <img ng-src="{{home.pic}}" />
  <p><a ng-href="{{home.pic}}">Get Gif</a></p>
</div>
